/* DG coxinhas */
* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-de-fundo: #ffd5b2;
    --cor-do-texto: #000000;
}

body {
    background-color: var(--cor-de-fundo)
}

h1 {
    color: var(--cor-do-texto);
}

.nome{

    font-size: 15px;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff91b2;
}

.logo {
    width: 15%;
}

.coxinha-principal {
    width: 30%;
    border-radius: 30px;
    border: 10px solid #ffd5b2;
    margin-inline-start: auto;
}

section {
    display: flex;
    color: rgb(#000000);
    padding: 20px;
    background-color: #ffd5b2;
}

.hello-kitty {
    display: flex;
    align-items: center;
}

.doces{ 

    padding: 14px;
    background-color: #ffd5b2
    width: 226px;
    font-size: 25px;
    margin: 0 29px;
    text-align: center;
}


.titulo{
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
    }

#equipe{  
    display: grid;
    grid-template-columns:33 33 33;
    background-color: #ffd5b2;
    border-radius: 40px;
    margin: 5px;
}
#doces{  
    display: grid;
    grid-template-columns:33% 33% 33%;
    background-color: #ff91b2;
}
#salgados{  
    display: grid;
    grid-template-columns:33% 33% 33%;
    background-color: #ffd5b2;
}

.foto-equipe{
    width: 45%;
    border-radius: 30px;
}

.div-equipe{
    
    text-align: center;
    border-radius: 70px ;
    
}

.rodape{
background-color: #ff91b2;
display: block;
font-size: 25px;

}

.linha{
width: 1900px;
border: solid 1px var(--cor-do-texto);
}

header a {
color: #000000;
text-decoration: none;
} 